// Colores

$verde: #709b8b;
$verdeclaro: #cae3d9;
$azul: #405c6e;
$beige: #eed5b6;
$crema: #ede6de;

$blanco: #fcfcfc;

// Fuentes

@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

// Medidas

$altoTitulos: 100px;
$espaciointerno: 20px;