/* Contacto */

.grid-contacto {
    display: grid;
    grid-template-areas: 
    "uno uno"
    "dos tres";

    #contactoH1 {
        text-align: center;
        background-color: $azul;
        padding: $espaciointerno;
        grid-area: uno;

        h1 {
            font-size: 40px;
            font-family: 'Oleo Script Swash Caps', cursive;
            font-weight: 100;
            color: $blanco;
        }
    }

    .ubicacion {
        grid-area: dos;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;

        h3 {
            margin: 20px;
        }
    }

    .iconos {
        grid-area: tres;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .gridTel, .gridMail, .gridDirec {
            display: flex;

            i {
                padding: 10px;
            }
    
            p{
                margin: 10px 20px 10px 2px;
            }
        }        
    }
}


/* Formulario */

.formulario {
    form { 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        fieldset {
            background-color: $azul;
            padding: 15px;
            margin: 50px 50px 20px 50px;
            border-radius: 5px;
            width: 600px;

            legend{
                padding: 10px;
                font-size: 20px;
                background-color: #fff;
                text-transform: uppercase;
                border-style: double;
            }

            p, select, label {
                color: $blanco;
            }

            
            #checkMail{
                color: $blanco;
            }

            .botonEnviar {
                margin: 20px;
            }
        }
    }
}
