html {
    margin-top: 100px;
}

/* Nav */
header {
    nav {
        a {
            .logoNav {
                width: 80px;
            }
        }
        
        ul{
            li {
                list-style: none;
            }
        }
    }
}

/* Footer */

footer {
    ul {
        li {
            list-style: none;
        }
    }
}