/* HOME */

main {
    section {
        #presentacion {
            h1 {
                text-align: center;
            }

            p {
                margin: 30px;
                text-align: center;
                font-style: italic;
                font-weight: 400;
                font-size: 18px;
            }
        }
        
        .carousel-control-prev-icon, .carousel-control-next-icon {
            background-color: #0c0c0c;
        }
        
    }
}